.sign {
    display:flex;
    justify-content: center;

    height: 100%;

    border-width: 0px;
    border-color: blue;
    border-style: dashed;

    margin: 5px;
    padding-bottom: 30px;
  }

.sign-grid {
    display: grid;
    place-items: center;
    height: 70vh;
    }

button{
    width: 100%
}