<div class="sign">


    <div>

        <div *ngIf="signForm.invalid">
            <p>
                Значение формы: {{signForm.value | json}}
            </p>
            <p>
                Статус формы: {{signForm.status| json}}
            </p>
            <p>
                Проверка логина: {{signForm.hasError('checkConfirmLogin') | json }}
            </p>
        </div>
        

        <div>
            <img src="logo.png" height="200" width="200"/>
        </div>

        <div class="alert" *ngIf="signForm.hasError('checkConfirmLogin') && (signForm.touched || signForm.dirty)">
            <label>
                Недопустимый логин пользователя!
            </label>
        </div>
  
        <div>
            <form [formGroup]="signForm" (ngSubmit)= "sign()">
            
                <p>
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input matInput formControlName="login" type="text" autocomplete="off" />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" autocomplete="off" />
                    </mat-form-field>
                </p>
                <button mat-flat-button color="primary" type="submit">
                    <mat-icon>
                    login
                    </mat-icon>
                    Войти
                </button>
            </form>
        </div>

    </div>




</div>